<style>
    .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
        padding: 1px;
    }

    .borderless td, .borderless th {
        border: none !important;
    }
</style>

<md-dialog flex="80">
    <form ng-cloak name="frm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                    <md-icon md-svg-icon="/Content/icons/menu.svg"></md-icon>
                </md-button>

                <h3 flex md-truncate>{{pdMaster.Naziv}}</h3>
                <!--<md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="/Content/icons/more_vert.svg"></md-icon>
                </md-button>-->
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/Content/icons/ic_close_24px.svg" aria-label="Zatvori"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">

                <div class="btn-group">
                    <a ng-repeat="god in godine | orderBy: god" href="" class="btn btn-primary" ng-click="godinaChanged(god)">{{god}}</a>
                </div>
                <hr />
                <table class="table table-condensed borderless" ng-show="tableVisible">
                    <thead>
                        <tr>
                            <th style="vertical-align middle; text-align: left">
                                Mjesec
                            </th>
                            <th style="vertical-align: middle; text-align: center">
                                Iznos prihoda
                            </th>
                            <th style="vertical-align: middle; text-align: center">

                            </th>
                            <th style="vertical-align: middle; text-align: right">
                                Poc stanje
                            </th>
                            <th style="vertical-align: middle; text-align: right">
                                Stanje od
                            </th>
                            <th style="vertical-align: middle; text-align: right">
                                Iznos zaduženja
                            </th>
                            <th style="vertical-align: middle; text-align: right">
                                Dug/pretplata
                            </th>
                            <th style="vertical-align: middle; text-align: right">

                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="o in tBody">
                        <tr>
                            <td style="vertical-align: top; text-align: left; color: indigo"><b>{{o.mjesec}}.</b></td>
                            <td colspan="2">
                                <table class="table table-condensed borderless">
                                    <tr ng-repeat="pr in o.prihodi | filter: { Mjesec: mjesecBr }" style="background-color: whitesmoke">
                                        <td style="vertical-align: middle; text-align: left">{{pr.naziv}}</td>
                                        <td style="vertical-align: middle; text-align: right">{{pr.iznos | number: 2}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td style="vertical-align: top; text-align: right">{{o.pocStanje | number: 2}}</td>
                            <td style="vertical-align: top; text-align: right">{{o.stanjeOd | number: 2}}</td>
                            <td style="vertical-align: top; text-align: right">{{o.zaduzenje | number: 2}}</td>
                            <td style="vertical-align: top; text-align: right">{{o.dugPretplata | number: 2}}</td>
                            <td style="vertical-align: top; text-align: right">
                                <md-checkbox ng-click="toggle(o.mjesec)">
                                </md-checkbox>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="vertical-align: middle; text-align: left; color: indigo; font-size: 11px">Vlasnici:</td>
                            <td colspan="5">
                                <span ng-repeat="v in o.vlasnici" style="vertical-align: middle; text-align: left; color: indigo; font-size: 11px">
                                    {{v.imePrezime}}
                                </span>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="vertical-align: middle; text-align: left; color: indigo; font-size: 11px">Posebni dijelovi:</td>
                            <td colspan="5">
                                <span ng-repeat="pd in o.posDijelovi" style="vertical-align: middle; text-align: left; color: indigo; font-size: 11px">
                                    {{pd.naziv}}
                                </span>
                            </td>
                            <td></td>
                        </tr>
                        <tr ng-show="o.displayTotal == true">
                            <td></td>
                            <td style="background-color: lightgray"><b>Ukupno</b></td>
                            <td style="background-color: lightgray; vertical-align: middle; text-align: right"><b>{{o.ukupnoPrihodi | number: 2}}</b></td>
                            <td style="background-color: lightgray"></td>
                            <td style="background-color: lightgray"></td>
                            <td style="background-color: lightgray; vertical-align: middle; text-align: right"><b>{{o.ukupnoZaduzenje | number: 2}}</b></td>
                            <td style="background-color: lightgray; vertical-align: middle; text-align: right" ng-class="{ 'greenCell': o.ukupnoDugPretplata > 0, 'redCell': o.ukupnoDugPretplata < 0 }"><b>{{o.ukupnoDugPretplata | number: 2}}</b></td>
                            <td></td>
                        </tr>
                        <tr ng-show="o.displayTotal == true">
                            <td colspan="8"><hr /></td>
                        </tr>
                        <tr ng-show="o.displayTotal == true">
                            <td colspan="8">&nbsp;</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised primary" ng-click="genPdf()">
                Kreiraj izvještaj
            </md-button>
            <md-button class="md-raised primary" ng-click="cancel()">
                Zatvori
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>