<style>
    .table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
        padding: 1px;
    }

    .borderless td, .borderless th {
        border: none !important;
    }
</style>

<md-dialog flex="70">
    <form ng-cloak name="frm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                    <md-icon md-svg-icon="/Content/icons/menu.svg"></md-icon>
                </md-button>

                <h3 flex md-truncate>{{pdMaster.Naziv}}</h3>
                <md-checkbox aria-label="Select All" ng-click="toggleAll()"
                             ng-true-value="true"
                             ng-false-value="false"
                             ng-model="selAllObj.checked">
                    Označi sve
                </md-checkbox>

                <md-button ng-disabled="!tableVisible" class="md-raised primary" ng-click="genPdf()">
                    Kreiraj izvještaj
                </md-button>

                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/Content/icons/ic_close_24px.svg" aria-label="Zatvori"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">

                <div class="btn-group">
                    <a ng-repeat="god in godine | orderBy: god" href="" class="btn btn-primary" ng-click="godinaChanged(god)">{{god}}</a>
                </div>
                <hr />


                <table class="table table-condensed table-hover" ng-show="tableVisible">
                    <thead>
                        <tr>
                            <th style="vertical-align middle; text-align: left">
                                rb
                            </th>
                            <th style="vertical-align middle; text-align: right">
                                Mjesec
                            </th>
                            <th style="vertical-align: middle; text-align: right">
                                Datum
                            </th>
                            <th style="vertical-align: middle; text-align: right">
                                Uplata
                            </th>
                            <th style="vertical-align: middle; text-align: right">
                                Zaduzenje
                            </th>
                            <th style="vertical-align: middle; text-align: right">
                                
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="o in tBody">
                        <tr>
                            <td style="vertical-align: top; text-align: left;">{{o.rb}}.</td>
                            <td style="vertical-align: top; text-align: right; color: indigo">{{o.mjesec}}</td>
                            <!--<td colspan="2">
                                <table class="table table-condensed borderless">
                                    <tr ng-repeat="pr in o.prihodi | filter: { Mjesec: mjesecBr }" style="background-color: whitesmoke">
                                        <td style="vertical-align: middle; text-align: left">{{pr.naziv}}</td>
                                        <td style="vertical-align: middle; text-align: right">{{pr.iznos | number: 2}}</td>
                                    </tr>
                                </table>
                            </td>-->
                            <td style="vertical-align: top; text-align: right">{{o.datum}}</td>
                            <td style="vertical-align: top; text-align: right">{{o.prihod | number: 2}}</td>
                            <td style="vertical-align: top; text-align: right">{{o.zaduzenje | number: 2}}</td>
                            <td style="vertical-align: top; text-align: right">
                                <md-checkbox ng-show="o.mjesec != null" ng-checked="isChecked(o.mjesec)" ng-click="toggle(o.mjesec)">
                                </md-checkbox>
                            </td>
                        </tr>
                        <!--<tr ng-show="o.displayTotal == true">
                            <td></td>
                            <td></td>
                            <td style="vertical-align: middle; text-align: left; color: indigo; font-size: 11px">Vlasnici:</td>
                            <td colspan="2">
                                <span ng-repeat="v in o.vlasnici" style="vertical-align: middle; text-align: left; color: indigo; font-size: 11px">
                                    {{v.imePrezime}}
                                </span>
                            </td>
                            <td></td>
                        </tr>-->
                        <!--<tr>
                            <td></td>
                            <td style="vertical-align: middle; text-align: left; color: indigo; font-size: 11px">Posebni dijelovi:</td>
                            <td colspan="5">
                                <span ng-repeat="pd in o.posDijelovi" style="vertical-align: middle; text-align: left; color: indigo; font-size: 11px">
                                    {{pd.naziv}}
                                </span>
                            </td>
                            <td></td>
                        </tr>-->
                        <tr ng-show="o.displayTotal == true">
                            <td></td>
                            <td></td>
                            <td style="background-color: lightgray"><b>Ukupno</b></td>
                            <td style="background-color: lightgray; vertical-align: middle; text-align: right"><b>{{o.ukupnoUplata | number: 2}}</b></td>
                            <td style="background-color: lightgray; vertical-align: middle; text-align: right"><b>{{o.ukupnoZaduzenje | number: 2}}</b></td>
                            <td style="background-color: lightgray; vertical-align: middle; text-align: right" ng-class="{ 'greenCell': o.ukupno >= 0, 'redCell': o.ukupno < 0}"><b>{{o.ukupno | number: 2}}</b></td>
                        </tr>
                        <tr ng-show="o.displayTotal == true">
                            <td colspan="6"><hr /></td>
                        </tr>
                        <!--<tr ng-show="o.displayTotal == true">
                            <td colspan="5">&nbsp;</td>
                        </tr>-->
                    </tbody>

                </table>
            </div>
        </md-dialog-content>

        <!--<md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised primary" ng-click="genPdf()">
                Kreiraj izvještaj
            </md-button>
            <md-button class="md-raised primary" ng-click="cancel()">
                Zatvori
            </md-button>
        </md-dialog-actions>-->
    </form>
</md-dialog>