<div class="container-grid">
    <div class="col-lg-12 whiteShadow">
        <div class="bs-callout bs-callout-info">
            <h5>Zgrada: {{zgrada.Naziv}}</h5>
            <h5>Adresa: {{zgrada.Adresa}}</h5>
        </div>
        <select ng-model="SelectedGodina" ng-options="c.Godina as c.Godina for c in godine"
                ng-change="godinaChanged()" class="form-control" style="margin-bottom: 10px"></select>

        <input type="number" class="form-control" ng-model="novaGodina" />
        <input type="button" class="form-control" value="Dodaj godinu" ng-click="dodajGodinu()" />
        <table class="table table-hover table-striped table-bordered" ng-show="tableVisible">
            <thead>
                <tr>
                    <th style="vertical-align: middle">
                        Ime i prezime
                    </th>
                    <th style="vertical-align: middle">
                        Posebni dio
                    </th>
                    <th style="vertical-align: middle">
                        Dug/pretplata
                    </th>
                    <th style="vertical-align: middle">
                        Mjesečno zaduženje
                    </th>
                    <th style="vertical-align: middle">
                        Uplaćeno
                    </th>
                    <th style="vertical-align: middle" id="target" ng-style="{'background-color': mjesec1background}" ng-click="openMjesecno(1)">1</th>
                    <th style="vertical-align: middle" ng-click="openMjesecno('2')">2</th>
                    <th style="vertical-align: middle" ng-click="openMjesecno('3')">3</th>
                    <th style="vertical-align: middle">
                        4
                    </th>
                    <th style="vertical-align: middle">
                        5
                    </th>
                    <th style="vertical-align: middle">
                        6
                    </th>
                    <th style="vertical-align: middle">
                        7
                    </th>
                    <th style="vertical-align: middle">
                        8
                    </th>
                    <th style="vertical-align: middle">
                        9
                    </th>
                    <th style="vertical-align: middle">
                        10
                    </th>
                    <th style="vertical-align: middle">
                        11
                    </th>
                    <th style="vertical-align: middle">
                        12
                    </th>
                    <th style="vertical-align: middle">
                        Stanje pr.godina
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stan in zgrada.Stanovi">
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <a href="" ng-click="openKs(stanar.Id)">{{stanar.Ime}}&nbsp;{{stanar.Prezime}}</a>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="dio in stan.Stanovi_PosebniDijelovi">
                            <div>{{dio.Oznaka}}</div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <!--Dug/pretplata-->
                        <!--Uplaceno + StanjeOd - MjesecnoZaduzenje-->
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                                {{IzracunajDugPretplatu(stanar) | number: 2}}
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <!--MjesecnoZaduzenje-->
                        {{IzracunajMjesecnaZaduzenja(stan.Id) | number: 2}}
                    </td>
                    <td style="vertical-align: middle">
                        <!--Uplaceno - suma ks.Uplata za stanara u godini-->
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            {{SumaUplacenogUgodini(stanar.Id) | number: 2}}
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="ks in pricuveZaZgraduGodina.KS | filter: { StanarId: stanar.Id } | filter: { Mjesec: 1 }">
                                {{ks.Uplata | number: 2}}
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="ks in pricuveZaZgraduGodina.KS | filter: { StanarId: stanar.Id } | filter: { Mjesec: 2 }">
                                {{ks.Uplata | number: 2}}
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="ks in pricuveZaZgraduGodina.KS | filter: { StanarId: stanar.Id } | filter: { Mjesec: 3 }">
                                {{ks.Uplata | number: 2}}
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="ks in pricuveZaZgraduGodina.KS | filter: { StanarId: stanar.Id } | filter: { Mjesec: 4 }">
                                {{ks.Uplata | number: 2}}
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="ks in pricuveZaZgraduGodina.KS | filter: { StanarId: stanar.Id } | filter: { Mjesec: 5 }">
                                {{ks.Uplata | number: 2}}
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="ks in pricuveZaZgraduGodina.KS | filter: { StanarId: stanar.Id } | filter: { Mjesec: 6 }">
                                {{ks.Uplata | number: 2}}
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="ks in pricuveZaZgraduGodina.KS | filter: { StanarId: stanar.Id } | filter: { Mjesec: 7 }">
                                {{ks.Uplata | number: 2}}
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="ks in pricuveZaZgraduGodina.KS | filter: { StanarId: stanar.Id } | filter: { Mjesec: 8 }">
                                {{ks.Uplata | number: 2}}
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="ks in pricuveZaZgraduGodina.KS | filter: { StanarId: stanar.Id } | filter: { Mjesec: 9 }">
                                {{ks.Uplata | number: 2}}
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="ks in pricuveZaZgraduGodina.KS | filter: { StanarId: stanar.Id } | filter: { Mjesec: 10 }">
                                {{ks.Uplata | number: 2}}
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="ks in pricuveZaZgraduGodina.KS | filter: { StanarId: stanar.Id } | filter: { Mjesec: 11 }">
                                {{ks.Uplata | number: 2}}
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="ks in pricuveZaZgraduGodina.KS | filter: { StanarId: stanar.Id } | filter: { Mjesec: 12 }">
                                {{ks.Uplata | number: 2}}
                            </div>
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Vlasnik: 'true' }">
                            <div ng-repeat="stanjeOd in pricuveZaZgraduGodina.PricuvaGod_StanjeOd | filter: { VlasnikId: stanar.Id }">
                                <input ng-change="IzracunajDugPretplatu(stanar)" type="text" class="form-control small" ng-model="stanjeOd.StanjeOd" />
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr />
        <input ng-click="save()" type="button" class="btn btn-primary pull-right" value="Spremi" />
        <a ng-click="cancelReload()" style="margin-right: 10px" class="btn btn-default pull-right">Odustani</a>&nbsp;
    </div>
</div>

