
<style>
    .noBorder {
        border: none;
        border-top: 0px;
        border-bottom: 2px solid black;
    }
    .md-datepicker-calendar-pane {
        z-index: 555000;
    }
</style>

<div class="modal-dialog modal-lg" style="vertical-align: middle;">

    <div class="modal-header">
       <h3>Kartica suvlasnika</h3>
    </div>

    <div class="modal-body">

        <table class="table table-responsive">
            <thead>
                <tr>
                    <th style="vertical-align: middle; text-align: center">Stan br</th>
                    <th style="vertical-align: middle; text-align: center">Prezime i ime</th>
                    <th style="vertical-align: middle; text-align: center">Oznaka posebnog dijela</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="vertical-align: middle; text-align: center">
                        <div ng-repeat="stan in zgrada.Stanovi">
                            <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Id: stanarId }">
                                {{stan.BrojStana}}
                            </div>
                        </div>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <div ng-repeat="stan in zgrada.Stanovi">
                            <div ng-repeat="stanar in stan.Stanovi_Stanari | filter: { Id: stanarId }">
                                {{stanar.Ime}}&nbsp;{{stanar.Prezime}}
                            </div>
                        </div>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <div ng-repeat="stan in zgrada.Stanovi">
                            <div ng-repeat="dio in stan.Stanovi_PosebniDijelovi">
                                <div>{{dio.Oznaka}}</div>
                            </div>
                        </div>
                    </th>
            </tbody>
        </table>

        <input type="button" class="btn btn-sm btn-success" ng-disabled="!dodavanjeOk" value="+" ng-click="dodajRecord()" />

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th style="vertical-align: middle">
                        Rb
                    </th>
                    <th style="vertical-align: middle">
                        Mjesec
                    </th>
                    <!--<th style="vertical-align: middle">
                        Godina
                    </th>-->
                    <th style="vertical-align: middle">
                        Datum
                    </th>
                    <th style="vertical-align: middle">
                        Uplata
                    </th>
                    <th style="vertical-align: middle">
                        Zaduženje
                    </th>
                    <th style="vertical-align: middle">
                        Stanje
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ks in pricuveZaZgraduGodina.KS | filter:{ Godina: godina}:true | filter: { Status: '!d'} | filter: { StanarId: stanarId }:true" style="vertical-align: middle">
                    <td style="vertical-align: middle">
                        <label>{{$index+1}}.</label>
                    </td>
                    <td style="vertical-align: middle">
                        <input class="form-control noBorder" type="number" ng-change="ksChanged(ks.Id)" ng-model="ks.Mjesec" />
                    </td>
                    <!--<td style="vertical-align: middle">
                        <input class="form-control noBorder" type="text" ng-model="ks.Godina" />
                    </td>-->
                    <td style="vertical-align: middle">
                        <input class="form-control noBorder" type="text" ng-model="ks.Datum" />
                        <!--<md-datepicker ng-model="ks.Datum" md-placeholder="Datum"></md-datepicker>-->
                    </td>
                    <td style="vertical-align: middle">
                        <input ng-change="uplataChanged(ks.Id)" class="form-control noBorder" type="text" ng-model="ks.Uplata" />
                    </td>
                    <td style="vertical-align: middle">
                        <!--Zaduzenje se povlaci sa Zaduzenja iz PricuveMj za current mjesec (onaj koji je user upisao - ks.Mjesec)-->
                        <div ng-repeat="mj in pricuveZaZgraduGodina.PricuvaMj | filter: { VlasnikId: ks.StanarId } | filter: { Mjesec: ks.Mjesec }:true">
                            {{mj.Zaduzenje}}
                        </div>
                        
                    </td>
                    <td style="vertical-align: middle">
                        <!--Uplata - Zaduzenje-->
                        <div ng-repeat="mj in pricuveZaZgraduGodina.PricuvaMj | filter: { VlasnikId: ks.StanarId } | filter: { Mjesec: ks.Mjesec }:true">
                            {{ks.Uplata - mj.Zaduzenje}}
                        </div>
                    </td>
                    <td style="vertical-align: middle">
                        <button type="button" class="btn btn-default btn-sm" title="Obriši dio" ng-click="delete(ks.Id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="vertical-align: middle; text-align: end"><b>Ukupno</b></td>
                    <td style="vertical-align: middle; text-align: end"><b>{{uplataTotal}}</b></td>
                    <td style="vertical-align: middle; text-align: end"><b>{{zaduzenjeTotal}}</b></td>
                    <td style="vertical-align: middle; text-align: end"><b>{{stanjeTotal}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-default" value="Odustani" ng-click="cancel()" />
        <input type="submit" class="btn btn-primary" ng-disabled="!snimanjeOk" value="Spremi" ng-click="save()" />

    </div>
</div>

