<div class="container-grid">
    <div class="col-lg-12 whiteShadow">

        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                    <md-icon md-svg-icon="/Content/icons/menu.svg"></md-icon>
                </md-button>

                <h3 flex md-truncate>Pričuva i režije, Zgrada:&nbsp;{{zgradaObj.Naziv}},&nbsp;{{zgradaObj.Adresa}}</h3>

                <input type="number" style="width: 100px" class="form-control" ng-model="novaGodina" />
                <md-button class="md-raised" aria-label="Dodaj godinu" ng-click="dodajGodinu()">
                    Dodaj godinu
                </md-button>

                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="/Content/icons/more_vert.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <br />
        <div class="btn-group">
            <a ng-repeat="god in godine | orderBy: god" href="" class="btn btn-primary" ng-click="godinaChanged(god)">{{god}}</a>
        </div>
        <hr />

        <table class="table table-hover table-bordered" ng-show="tableVisible">
            <thead>
                <tr>
                    <th colspan="6">
                        <table>
                            <tr>
                                <td style="padding-right: 10px"><div style="width:10px;height:10px;border:1px solid #000; background-color: darkgreen; padding-right: 10px"></div>&nbsp;Uplata</td>
                                <td style="padding-right: 10px"><div style="width:10px;height:10px;border:1px solid #000; background-color: chocolate; padding-right: 10px"></div>&nbsp;Poc. stanje</td>
                                <td style="padding-right: 10px"><div style="width:10px;height:10px;border:1px solid #000; background-color: blue; padding-right: 10px"></div>&nbsp;Prićuva</td>
                                <td style="padding-right: 10px"><div style="width:10px;height:10px;border:1px solid #000; background-color: magenta; padding-right: 10px"></div>&nbsp;Režije</td>
                                <td><div style="width:10px;height:10px;border:1px solid #000; background-color: darkred"></div>&nbsp;Saldo</td>
                            </tr>
                        </table>
                    </th>
                    <th style="vertical-align: bottom; text-align: center; color: indigo" title="stanje zgrade u 1. mjesecu">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openStanjeZgrade(1, $event)" href="">Stanje zgrade u 1. mjesecu</a></li>
                                <li><a ng-click="openModalUplatnica(1, $event)" href="">Uplatnica za 1. mjesec</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="vertical-align: bottom; text-align: center; color: indigo" title="stanje zgrade u 2. mjesecu">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openStanjeZgrade(2, $event)" href="">Stanje zgrade u 2. mjesecu</a></li>
                                <li><a ng-click="openModalUplatnica(2, $event)" href="">Uplatnica za 2. mjesec</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="vertical-align: bottom; text-align: center; color: indigo" title="stanje zgrade u 3. mjesecu">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openStanjeZgrade(3, $event)" href="">Stanje zgrade u 3. mjesecu</a></li>
                                <li><a ng-click="openModalUplatnica(3, $event)" href="">Uplatnica za 3. mjesec</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="vertical-align: bottom; text-align: center; color: indigo" title="stanje zgrade u 4. mjesecu">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openStanjeZgrade(4, $event)" href="">Stanje zgrade u 4. mjesecu</a></li>
                                <li><a ng-click="openModalUplatnica(4, $event)" href="">Uplatnica za 4. mjesec</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="vertical-align: bottom; text-align: center; color: indigo" title="stanje zgrade u 5. mjesecu">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openStanjeZgrade(5, $event)" href="">Stanje zgrade u 5. mjesecu</a></li>
                                <li><a ng-click="openModalUplatnica(5, $event)" href="">Uplatnica za 5. mjesec</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="vertical-align: bottom; text-align: center; color: indigo" title="stanje zgrade u 6. mjesecu">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openStanjeZgrade(6, $event)" href="">Stanje zgrade u 6. mjesecu</a></li>
                                <li><a ng-click="openModalUplatnica(6, $event)" href="">Uplatnica za 6. mjesec</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="vertical-align: bottom; text-align: center; color: indigo" title="stanje zgrade u 7. mjesecu">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openStanjeZgrade(7, $event)" href="">Stanje zgrade u 6. mjesecu</a></li>
                                <li><a ng-click="openModalUplatnica(7, $event)" href="">Uplatnica za 7. mjesec</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="vertical-align: bottom; text-align: center; color: indigo" title="stanje zgrade u 8. mjesecu">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openStanjeZgrade(8, $event)" href="">Stanje zgrade u 8. mjesecu</a></li>
                                <li><a ng-click="openModalUplatnica(8, $event)" href="">Uplatnica za 8. mjesec</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="vertical-align: bottom; text-align: center; color: indigo" title="stanje zgrade u 9. mjesecu">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openStanjeZgrade(9, $event)" href="">Stanje zgrade u 9. mjesecu</a></li>
                                <li><a ng-click="openModalUplatnica(9, $event)" href="">Uplatnica za 9. mjesec</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="vertical-align: bottom; text-align: center; color: indigo" title="stanje zgrade u 10. mjesecu">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openStanjeZgrade(10, $event)" href="">Stanje zgrade u 10. mjesecu</a></li>
                                <li><a ng-click="openModalUplatnica(10, $event)" href="">Uplatnica za 10. mjesec</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="vertical-align: bottom; text-align: center; color: indigo" title="stanje zgrade u 11. mjesecu">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openStanjeZgrade(11, $event)" href="">Stanje zgrade u 11. mjesecu</a></li>
                                <li><a ng-click="openModalUplatnica(11, $event)" href="">Uplatnica za 11. mjesec</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="vertical-align: bottom; text-align: center; color: indigo" title="stanje zgrade u 12. mjesecu">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a ng-click="openStanjeZgrade(12, $event)" href="">Stanje zgrade u 12. mjesecu</a></li>
                                <li><a ng-click="openModalUplatnica(12, $event)" href="">Uplatnica za 12. mjesec</a></li>
                            </ul>
                        </div>
                    </th>
                    <th style="text-align: center"></th>
                </tr>
                <!--<tr>
                    <th colspan="5"></th>
                    <th colspan="12" style="vertical-align: middle; text-align: center; color: indigo; font-size: 11px">Uplate po mjesecima</th>
                    <th></th>
                </tr>-->
                <tr>
                    <th style="font-size: 12px; vertical-align: middle">
                        Ime<br />prezime
                    </th>
                    <th style="font-size: 12px; vertical-align: middle">
                        Posebni<br />dio
                    </th>
                    <th style="font-size: 12px; vertical-align: middle; text-align: right">
                        Dug/<br>pretplata
                    </th>
                    <th style="font-size: 12px; vertical-align: middle; text-align: right">
                        Ukupno<br />pričuva
                    </th>
                    <th style="font-size: 12px; vertical-align: middle; text-align: right">
                        Ukupno<br />režije
                    </th>
                    <th style="font-size: 12px; vertical-align: middle; text-align: right">
                        Uplaćeno

                    </th>
                    <!--<th style="vertical-align: middle; text-align: center" class="{{clsMjesec1}}" ng-click="openMjesecno(1, $event)">1</th>-->
                    <th style="vertical-align: middle; text-align: center">
                        <button ng-click="openMjesecno(1, $event)" type="button" class="{{clsMjesec1}}">1.</button>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <button ng-click="openMjesecno(2, $event)" type="button" class="{{clsMjesec2}}">2.</button>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <button ng-click="openMjesecno(3, $event)" type="button" class="{{clsMjesec3}}">3.</button>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <button ng-click="openMjesecno(4, $event)" type="button" class="{{clsMjesec4}}">4.</button>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <button ng-click="openMjesecno(5, $event)" type="button" class="{{clsMjesec5}}">5.</button>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <button ng-click="openMjesecno(6, $event)" type="button" class="{{clsMjesec6}}">6.</button>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <button ng-click="openMjesecno(7, $event)" type="button" class="{{clsMjesec7}}">7.</button>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <button ng-click="openMjesecno(8, $event)" type="button" class="{{clsMjesec8}}">8.</button>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <button ng-click="openMjesecno(9, $event)" type="button" class="{{clsMjesec9}}">9.</button>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <button ng-click="openMjesecno(10, $event)" type="button" class="{{clsMjesec10}}">10.</button>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <button ng-click="openMjesecno(11, $event)" type="button" class="{{clsMjesec11}}">11.</button>
                    </th>
                    <th style="vertical-align: middle; text-align: center">
                        <button ng-click="openMjesecno(12, $event)" type="button" class="{{clsMjesec12}}">12.</button>
                    </th>

                    <th style="font-size: 11px; vertical-align: middle; text-align: end">
                        <button style="font-size: 10px;" ng-click="modalStanje($event)" type="button" class="btn btn-default">Stanje<br />31.12.{{selectedGodina-1}}.</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rec in godinaTable">
                    <td>
                        <div style="font-size: 12px" ng-repeat="vlasnik in rec.Vlasnici">
                            {{vlasnik}}<br />
                        </div>
                    </td>
                    <td style="font-size: 12px"><a href="" ng-click="kartica(rec.PosebniDioMasterId, $event)">{{rec.PosebniDioMasterNaziv}}</a></td>
                    <td style="font-size: 12px; text-align: right" ng-class="{ greenCell: rec.Dug > 0, redCell: rec.Dug < 0 }">
                        {{rec.Dug | number: 2}}
                    </td>
                    <td style="font-size: 12px; text-align: right" class="redCell">
                        {{rec.ZaduzenjePricuva | number: 2}}
                    </td>
                    <td style="font-size: 12px; text-align: right" class="redCell">
                        {{rec.ZaduzenjeRezije | number: 2}}
                    </td>
                    <td style="font-size: 12px; text-align: right">
                        {{rec.Uplaceno | number: 2}}
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px">
                        <span style="color: darkgreen">{{rec.Mj1 | number: 2}}</span><br />
                        <div ng-repeat="s in rec.SaldoMj1 track by $index">
                            <span ng-style="setColor($index)" style="font-size: 10px">{{s | number: 2}}</span><br />
                        </div>
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px">
                        <span style="color: darkgreen">{{rec.Mj2 | number: 2}}</span><br />
                        <div ng-repeat="s in rec.SaldoMj2 track by $index">
                            <!--<span ng-class="{ greenCell: s > 0, redCell: s < 0 }"  style="font-size: 10px">{{s | number: 2}}</span><br />-->
                            <span ng-style="setColor($index)" style="font-size: 10px">{{s | number: 2}}</span><br />
                        </div>
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px">
                        <span style="color: darkgreen">{{rec.Mj3 | number: 2}}</span><br />
                        <div ng-repeat="s in rec.SaldoMj3 track by $index">
                            <span ng-style="setColor($index)" style="font-size: 10px">{{s | number: 2}}</span><br />
                        </div>
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px">
                        <span style="color: darkgreen">{{rec.Mj4 | number: 2}}</span><br />
                        <div ng-repeat="s in rec.SaldoMj4 track by $index">
                            <span ng-style="setColor($index)" style="font-size: 10px">{{s | number: 2}}</span><br />
                        </div>
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px">
                        <span style="color: darkgreen">{{rec.Mj5 | number: 2}}</span><br />
                        <div ng-repeat="s in rec.SaldoMj5 track by $index">
                            <span ng-style="setColor($index)" style="font-size: 10px">{{s | number: 2}}</span><br />
                        </div>
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px">
                        <span style="color: darkgreen">{{rec.Mj6 | number: 2}}</span><br />
                        <div ng-repeat="s in rec.SaldoMj6 track by $index">
                            <span ng-style="setColor($index)" style="font-size: 10px">{{s | number: 2}}</span><br />
                        </div>
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px">
                        <span style="color: darkgreen">{{rec.Mj7 | number: 2}}</span><br />
                        <div ng-repeat="s in rec.SaldoMj7 track by $index">
                            <span ng-style="setColor($index)" style="font-size: 10px">{{s | number: 2}}</span><br />
                        </div>
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px">
                        <span style="color: darkgreen">{{rec.Mj8 | number: 2}}</span><br />
                        <div ng-repeat="s in rec.SaldoMj8 track by $index">
                            <span ng-style="setColor($index)" style="font-size: 10px">{{s | number: 2}}</span><br />
                        </div>
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px">
                        <span style="color: darkgreen">{{rec.Mj9 | number: 2}}</span><br />
                        <div ng-repeat="s in rec.SaldoMj9 track by $index">
                            <span ng-style="setColor($index)" style="font-size: 10px">{{s | number: 2}}</span><br />
                        </div>
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px">
                        <span style="color: darkgreen">{{rec.Mj10 | number: 2}}</span><br />
                        <div ng-repeat="s in rec.SaldoMj10 track by $index">
                            <span ng-style="setColor($index)" style="font-size: 10px">{{s | number: 2}}</span><br />
                        </div>
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px">
                        <span style="color: darkgreen">{{rec.Mj11 | number: 2}}</span><br />
                        <div ng-repeat="s in rec.SaldoMj11 track by $index">
                            <span ng-style="setColor($index)" style="font-size: 10px">{{s | number: 2}}</span><br />
                        </div>
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px">
                        <span style="color: darkgreen">{{rec.Mj12 | number: 2}}</span><br />
                        <div ng-repeat="s in rec.SaldoMj12 track by $index">
                            <span ng-style="setColor($index)" style="font-size: 10px">{{s | number: 2}}</span><br />
                        </div>
                    </td>
                    <td style="font-size: 12px; text-align: right; padding-right: 7px" ng-class="{ greenCell: rec.StanjeOd > 0, redCell: rec.StanjeOd < 0 }">
                        {{rec.StanjeOd | number: 2}}
                    </td>
                </tr>
            </tbody>
        </table>

        <!--<hr />
        <md-button class="md-raised md-primary pull-right" type="button" ng-click="saveAll()">Spremi</md-button>
        <md-button class="md-raised pull-right" ng-click="cancelReload()">
            Odustani
        </md-button>-->
    </div>
</div>