<style>
    .md-errors-spacer {
        display: none;
    }
</style>

<md-dialog flex="100">
    <form ng-cloak name="frm" ng-submit="save()">
        <md-toolbar>
            <div class="md-toolbar-tools">

                <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                    <md-icon md-svg-icon="/Content/icons/menu.svg"></md-icon>
                </md-button>

                <h3 flex md-truncate>Uplatnice, {{msg}}</h3>

                <md-button class="md-raised md-primary" type="submit" ng-click="saveAndKreraj()" ng-disabled="frm.$invalid || isInvalid">Kreiraj uplatnice i račune</md-button>

                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/Content/icons/ic_close_24px.svg" aria-label=""></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th style="vertical-align: middle">
                                Posebni dio
                            </th>
                            <th style="width: 7px"></th>
                            <th style="width: 7px"></th>
                            <th style="vertical-align: middle; text-align: right">
                                Platitelj
                            </th>
                            <!--<th style="vertical-align: middle; text-align: right">
                                Primatelj
                            </th>-->
                            <th style="vertical-align: middle">
                                Vrsta duga
                            </th>
                            <th style="vertical-align: middle">
                                Vrsta plaćanja
                            </th>
                            <th style="vertical-align: middle">
                                Udio režije (%)
                            </th>
                            <th style="vertical-align: middle">
                                Iznos režije
                            </th>
                            <th style="vertical-align: middle">
                                Udio pričuva (%)
                            </th>
                            <th style="vertical-align: middle">
                                Iznos pričuva
                            </th>
                            <th style="vertical-align: middle">
                                Pdf
                            </th>
                            <th style="vertical-align: middle">
                                Detalji
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="rec in PricuvaRezijeZaMjesec.PricuvaRezijeMjesec_Uplatnice">
                        <!--<tr>
                            <td colspan="9">
                                <button type="button" class="btn btn-primary" style="width: 100%; padding-bottom: 15px; padding-top: 15px" ng-click="rec.Expanded = !poChild.Expanded"><b>Posebni dio: &nbsp;&nbsp;&nbsp; {{poChild.Naziv}}</b></button>
                            </td>
                        </tr>-->
                        <tr class="uib-collapse=" !rec.Expanded"">
                            <td style="vertical-align: middle; text-align: left">
                                <div ng-repeat="master in zgradaObj.Zgrade_PosebniDijeloviMaster| filter: { Id: rec.PosebniDioMasterId }">
                                    {{master.Naziv}}
                                </div>
                            </td>
                            <td>
                                <md-button ng-show="rec.displayBtnAdd == true" class="md-icon-button" ng-click="dodajRecord(rec)" title="Dodaj">
                                    <md-icon md-svg-icon="/Content/icons/plus.svg" style="fill: green"></md-icon>
                                </md-button>
                            </td>
                            <td>
                                <md-button ng-show="rec.displayBtnRemove == true" class="md-icon-button" ng-click="removeRecord(rec)" title="Obriši">
                                    <md-icon md-svg-icon="/Content/icons/minus.svg" style="fill: red"></md-icon>
                                </md-button>
                            </td>
                            <td style="vertical-align: middle; text-align: right" class="redCell">
                                <div ng-class="{ 'has-error' : itemFrm.sel.$invalid && !itemFrm.sel.$pristine }">
                                    <select name="sel" ng-model="rec.PlatiteljId" ng-options="c.Id as c.Naziv for c in rec.platitelji"
                                            id="sel" class="form-control" ng-required></select>
                                </div>
                            </td>
                            <!--<td style="vertical-align: middle; text-align: right" class="redCell">
                                <div ng-class="{ 'has-error' : itemFrm.sel.$invalid && !itemFrm.sel.$pristine }">
                                    <select name="sel" ng-model="rec.PrimateljId" ng-options="c.Id as c.Naziv for c in rec.primatelji"
                                            id="sel" class="form-control" ng-required></select>
                                </div>
                            </td>-->
                            <td style="vertical-align: middle; text-align: right" class="redCell">
                                <div ng-class="{ 'has-error' : itemFrm.sel.$invalid && !itemFrm.sel.$pristine }">
                                    <select name="sel" ng-model="rec.TipDuga" ng-options="c.Id as c.Naziv for c in tipoviDuga"
                                            ng-change="RacunStuff(rec)" id="sel" class="form-control" ng-required></select>
                                </div>
                            </td>
                            <td>
                                <div ng-class="{ 'has-error' : itemFrm.sel.$invalid && !itemFrm.sel.$pristine }">
                                    <select name="sel" ng-model="rec.TipPlacanja" ng-options="c.Id as c.Naziv for c in tipoviPlacanja"
                                            ng-change="RacunStuff(rec)" id="sel" class="form-control" ng-required></select>
                                </div>
                            </td>
                            <td style="background-color: {{rec.tdColorRezije}}">
                                <input type="text" my-directive-decimal-posto ng-change="udioChanged(rec.PosebniDioMasterId)" class="form-control" size="5" ng-model="rec.UdioRezije" placeholder="Udio za režije" />
                            </td>
                            <td style="background-color: {{rec.tdColorRezije}}">
                                <input type="text" readonly class="form-control" size="10" ng-model="rec.IznosRezije" placeholder="Iznos pričuve" />
                            </td>
                            <td style="background-color: {{rec.tdColorPricuva}}">
                                <input type="text" my-directive-decimal-posto ng-change="udioChanged(rec.PosebniDioMasterId)" class="form-control" size="5" ng-model="rec.UdioPricuva" placeholder="Udio za pričuvu" />
                            </td>
                            <td style="background-color: {{rec.tdColorPricuva}}">
                                <input type="text" readonly class="form-control" size="10" ng-model="rec.IznosPricuva" placeholder="Iznos režija" />
                            </td>
                            <td><a href="{{rec.url}}" ng-show="rec.url != null">Pdf</a></td>
                            <td>
                                <button ng-show="rec.TipPlacanja == 'r'" class="btn btn-primary dropdown-toggle" style="padding-bottom: 0px;" ng-click="rec.DetailsVisible = !rec.DetailsVisible">
                                    <span class="caret"></span>
                                </button>
                            </td>
                            
                        </tr>
                        <tr uib-collapse="!rec.DetailsVisible" ng-show="rec.TipPlacanja == 'r'">
                            <td colspan="3">
                                <md-input-container class="md-block" flex-gt-sm style="padding-top: 11px">
                                    <label>Broj računa</label>
                                    <input ng-model="rec.BrojRacuna">
                                </md-input-container>
                            </td>
                            <td>
                                <label>Datum računa</label>
                                <md-datepicker ng-model="rec.DatumRacuna" md-placeholder="Datum računa"></md-datepicker>
                            </td>
                            <td colspan="2">
                                <label>Datum isporuke</label>
                                <md-datepicker ng-model="rec.DatumIsporuke" md-placeholder="Datum isporuke"></md-datepicker>
                            </td>
                            <td colspan="2">
                                <label>Datum dospjeća</label>
                                <md-datepicker ng-model="rec.DatumDospijeca" md-placeholder="Datum dospjeća"></md-datepicker>
                            </td>
                            <td>
                                <md-input-container class="md-block" flex-gt-sm style="padding-top: 11px">
                                    <label>Jed. mjera</label>
                                    <input ng-model="rec.JedMjera">
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="md-block" flex-gt-sm style="padding-top: 11px">
                                    <label>Jed. cijena</label>
                                    <input my-directive-decimal ng-model="rec.JedCijena">
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="md-block" flex-gt-sm style="padding-top: 11px">
                                    <label>Količina</label>
                                    <input my-directive-decimal ng-model="rec.Kolicina">
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="md-block" flex-gt-sm style="padding-top: 11px">
                                    <label>Ukupno</label>
                                    <input ng-model="rec.Ukupno">
                                </md-input-container>
                            </td>
                            <!--<td><button class="btn, btn-primary" ng-click="createRacun(rec)">Kreiraj</button></td>-->
                            
                        </tr>
                        <tr uib-collapse="!rec.DetailsVisible" ng-show="rec.TipPlacanja == 'r'">
                            <td></td>
                            <td colspan="6">
                                <div>Opis</div>
                                <textarea rows="5" style="min-width: 90%" placeholder="Napomena" ng-model="rec.Opis"></textarea>
                            </td>
                            <td colspan="6">
                                <div>Napomena</div>
                                <div class="summernote" ng-bind-html="rec.Napomena"></div>
                            </td>
                        </tr>
                        <tr ng-show="rec.displayLine == true">
                            <td colspan="13"><hr /></td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </md-dialog-content>

        <!--<md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised" ng-click="cancel()">
                Odustani
            </md-button>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="frm.$invalid">Kreiraj</md-button>
        </md-dialog-actions>-->
    </form>
</md-dialog>



<script type="text/javascript">
    $(document).ready(function () {
        $('.summernote').summernote();
        $('.note-btn').hide();
        $('.note-btn-bold').show();
    });
</script>