
<div class="modal-dialog modal-lg" style="vertical-align: middle;">

    <div class="modal-header">
        <h4>Prihodi: {{period}}</h4>
    </div>

    <div class="modal-body">

        <input type="button" class="btn btn-sm btn-success" value="+" ng-click="dodajRecord()" />

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <!--<th style="vertical-align: middle">
                        Rb
                    </th>-->
                    <th style="vertical-align: middle">
                        Opis
                    </th>
                    <th style="vertical-align: middle">
                        Iznos
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="vertical-align: middle">Uplata pričuve</td>
                    <td style="vertical-align: middle; text-align: end">
                        {{uplataPricuve}}
                    </td>
                    <th></th>
                </tr>

                <tr ng-repeat="pr in prihodRashodZaGodinu.PrihodiRashodiDetails | filter:{ Mjesec: mjesec} | filter: { PrijenosIzProlse: 'true' }" style="vertical-align: middle">
                    <!--<td style="vertical-align: middle">
                        <label>{{$index+1}}.</label>
                    </td>-->
                    <!--<td style="vertical-align: middle">
                        <input class="form-control" type="text" ng-model="pr.Opis" />
                    </td>-->
                    <td style="vertical-align: middle">
                        <label>Prijenos pričuve iz prethodne godine</label>
                    </td>
                    <td style="vertical-align: middle">
                        <input ng-change="ukupno()" class="form-control" type="text" ng-model="pr.Iznos" />
                    </td>
                    <th></th>
                </tr>

                <tr ng-repeat="pr in prihodRashodZaGodinu.PrihodiRashodiDetails | filter:{ Mjesec: mjesec} | filter: { PrijenosIzProlse: '!true' } | filter: { Status: '!d' }" style="vertical-align: middle">
                    <!--<td style="vertical-align: middle">
                        <label>{{$index+1}}.</label>
                    </td>-->
                    <td style="vertical-align: middle">
                        <input class="form-control" type="text" ng-model="pr.Opis" />
                    </td>
                    <td style="vertical-align: middle; text-align: end">
                        <input ng-change="ukupno()" class="form-control" type="text" ng-model="pr.Iznos" />
                    </td>
                    <td style="vertical-align: middle">
                        <button type="button" class="btn btn-default btn-sm" title="Obriši dio" ng-click="delete(pr.Id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle; text-align: end"><b>Ukupno</b></td>
                    <td style="vertical-align: middle; text-align: end">{{total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <input type="button" class="btn btn-default" value="Odustani" ng-click="cancel()" />
        <input type="submit" class="btn btn-primary" value="Spremi" ng-click="save()" />

    </div>
</div>

