<div class="container-grid">
    <div class="col-lg-12 whiteShadow">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                    <md-icon md-svg-icon="/Content/icons/menu.svg"></md-icon>
                </md-button>

                <h3 flex md-truncate>{{msg}}</h3>

                <md-checkbox ng-click="nePrikazujZatvorene = !nePrikazujZatvorene" ng-model="cb" aria-label="Ne prikazuj zatvorene">
                    Ne prikazuj zatvorene
                </md-checkbox>

                <md-button class="md-raised" ng-disabled="pdMaster.Zatvoren == true" aria-label="Dodaj posebni dio" ng-click="openModalPosebniDioChild(0)">
                    Dodaj posebni dio
                </md-button>
                <md-button class="md-raised" ng-disabled=dodajVlasnikeBtnDisabled aria-label="Dodaj vlasnike" ng-click="openModalVlasnici(0)">
                    Dodaj vlasnike
                </md-button>

                <md-button ng-click="killMaster($event)" class="md-icon-button" aria-label="Zatvori posebni dio" title="Zatvori poseban dio {{pdMaster.Naziv}}">
                    <md-icon md-svg-icon="/Content/icons/delete.svg"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="/Content/icons/more_vert.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <br />

        <table>
            <tr>
                <td>Uplatnici slati:</td>
                <td>
                    <md-select ng-model="pdMaster.UplatnicaStanarId" style="background-color: whitesmoke">
                        <md-option name="stanarId" ng-repeat="stanar in stanari" ng-value="stanar.Id">
                            {{stanar.Ime}}&nbsp;{{stanar.Prezime}}
                        </md-option>
                    </md-select>
                </td>
            </tr>
        </table>

        <div ng-show="pdMaster.Zatvoren == true">
            <md-whiteframe class="md-whiteframe-9dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                <span style="color: crimson"><br>Posebni dio je zatvoren, vrijedi do: {{pdMaster.ZatvorenMjesec}}/{{pdMaster.ZatvorenGodina}}<br></span>
            </md-whiteframe>
        </div>


        <!--Vlasnici card-->
        <button type="button" class="btn btn-primary" style="width: 100%; padding-bottom: 20px; padding-top: 20px"  ng-click="isVlasniciCollapsed = !isVlasniciCollapsed"><b>Vlasnici</b></button>
        <div uib-collapse="isVlasniciCollapsed">
            <md-card md-theme-watch>
                <!--table posebniDijeloviChild sa kolecijema: povrsine, pripadci-->
                <md-card-title>
                    <md-card-title-text>
                        <!--<span class="md-headline indigoColor">Vlasnici</span>-->

                        <!--table Vlasnici-->
                        <div ng-repeat="period in pdMaster.Zgrade_PosebniDijeloviMaster_VlasniciPeriod">
                            <table class="table table-hover table-responsive table-condensed" ng-hide="period.Zatvoren == nePrikazujZatvorene">
                                <thead style="color: {{period.Zatvoren == true ? 'gray' : 'initial'}}">
                                    <tr>
                                        <th colspan="3" style="vertical-align: middle; text-align: start; color: {{period.Zatvoren == true ? 'gray' : 'initial'}}">
                                            Vrijedi Od: {{period.VrijediOdMjesec}}/{{period.VrijediOdGodina}}
                                        </th>
                                        <th style="vertical-align: middle; width: 200px">
                                            <md-button ng-show="period.Zatvoren != true" class="md-icon-button" ng-click="openModalVlasnici(period.Id)" title="Uredi vlasnike">
                                                <md-icon md-svg-icon="/Content/icons/table-edit.svg" style="fill: blue"></md-icon>
                                            </md-button>
                                            <md-button ng-show="period.Zatvoren != true" class="md-icon-button" ng-click="killVlasniciPeriod(period.Id, $event)" title="Zatvori vlasnike">
                                                <md-icon md-svg-icon="/Content/icons/delete.svg" style="fill: red"></md-icon>
                                            </md-button>
                                            <div ng-show="period.Zatvoren == true">Zatvoreno: {{period.VrijediDoMjesec}}/{{period.VrijediDoGodina}}</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th style="vertical-align: middle; text-align: start">Ime</th>
                                        <th style="vertical-align: middle; text-align: start; padding-right: 30px">Prezime</th>
                                        <th style="vertical-align: middle; text-align: start; padding-right: 30px">Udio</th>
                                        <th style="vertical-align: middle; text-align: start; padding-right: 30px">Upl.glasi na vlasnika</th>

                                        <th style="vertical-align: middle"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="vlasnik in period.Zgrade_PosebniDijeloviMaster_VlasniciPeriod_Vlasnici" style="color: {{period.Zatvoren == true ? 'gray' : 'initial'}}">

                                        <!--<td style="vertical-align: middle; text-align: start">{{getVlasnik(vlasnik.Id).ime}}</td>-->
                                        <td ng-repeat="s in stanari | filter: { Id: vlasnik.StanarId }" style="vertical-align: middle; text-align: start">
                                            st
                                            {{s.Ime}}
                                        </td>
                                        <td ng-repeat="s in stanari | filter: { Id: vlasnik.StanarId }" style="vertical-align: middle; text-align: start">
                                            {{s.Prezime}}
                                        </td>
                                        <td style="vertical-align: middle; text-align: start; padding-right: 30px">{{vlasnik.Udio}}</td>
                                        <td style="vertical-align: middle; text-align: center">
                                            <md-checkbox ng-disabled="true" aria-label="Disabled checkbox" ng-model="vlasnik.UplatnicaGlasiNaVlasnika">
                                            </md-checkbox>
                                        </td>
                                        <td style="vertical-align: middle;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end of Vlasnici -->
                    </md-card-title-text>
                </md-card-title>
            </md-card>
            <!--End of vlasnici card-->
        </div>

        <div ng-repeat="poChild in pdMaster.Zgrade_PosebniDijeloviChild">
            <md-card md-theme-watch>
                <!--table posebniDijeloviChild sa kolecijema: povrsine, pripadci-->
                <md-card-title>
                    <md-card-title-text>
                        <button type="button" class="btn btn-primary" style="width: 100%; padding-bottom: 15px; padding-top: 15px" ng-click="poChild.Expanded = !poChild.Expanded"><b>Posebni dio: &nbsp;&nbsp;&nbsp; {{poChild.Naziv}}</b></button>

                        <!--<span ng-show="poChild.Zatvoren != true" class="md-headline indigoColor">
                            Posebni dio: {{poChild.Naziv}}
                        </span>
                        <span ng-show="poChild.Zatvoren == true" class="md-headline grayColor">
                            Posebni dio: {{poChild.Naziv}}
                        </span>-->
                        <div uib-collapse="!poChild.Expanded">
                            <table class="table table-hover table-responsive table-condensed" ng-hide="period.Zatvoren == nePrikazujZatvorene">
                                <thead>
                                    <tr>
                                        <th style="vertical-align: middle; text-align: start">Naziv površine</th>
                                        <th style="vertical-align: middle; text-align: right; padding-right: 30px">Površina</th>
                                        <th style="vertical-align: middle; text-align: right; padding-right: 30px">Koeficijent</th>
                                        <th style="vertical-align: middle; width: 200px">
                                            <md-button ng-hide="poChild.Zatvoren" class="md-icon-button" ng-click="openModalPosebniDioChildPovrsina(poChild.Id, 0)" title="Dodaj površinu">
                                                <md-icon md-svg-icon="/Content/icons/plus.svg" style="fill: green"></md-icon>
                                            </md-button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="povrsina in poChild.Zgrade_PosebniDijeloviChild_Povrsine" style="color: {{povrsina.Zatvoren == true ? 'gray' : 'initial'}}">
                                        <td style="vertical-align: middle; text-align: start">{{povrsina.Naziv}}</td>
                                        <td style="vertical-align: middle; text-align: right; padding-right: 30px">{{povrsina.Povrsina}}</td>
                                        <td style="vertical-align: middle; text-align: right; padding-right: 30px">{{povrsina.Koef}}</td>
                                        <td style="vertical-align: middle; text-align: end">
                                            <md-button ng-hide="povrsina.Zatvoren == true || poChild.Zatvoren == true" class="md-icon-button" ng-click="openModalPosebniDioChildPovrsina(poChild.Id, povrsina.Id)" title="Uredi površinu">
                                                <md-icon md-svg-icon="/Content/icons/table-edit.svg" style="fill: blue"></md-icon>
                                            </md-button>
                                            <md-button ng-hide="povrsina.Zatvoren == true || poChild.Zatvoren == true" class="md-icon-button" ng-click="killPovrsina(poChild.Id, povrsina.Id, $event)" title="Zatvori površinu">
                                                <md-icon md-svg-icon="/Content/icons/delete.svg" style="fill: red"></md-icon>
                                            </md-button>
                                            <div ng-show="povrsina.Zatvoren == true">Zatvoreno: {{povrsina.ZatvorenMjesec}}/{{povrsina.ZatvorenGodina}}</div>
                                    </tr>

                                </tbody>
                            </table>
                            <!-- end of Zgrade_PosebniDijeloviChild_Povrsine -->
                            <!--table Zgrade_PosebniDijeloviChild_Pripadci-->
                            <table class="table table-hover table-responsive table-condensed" ng-hide="period.Zatvoren == nePrikazujZatvorene">
                                <thead>
                                    <tr>
                                        <th style="vertical-align: middle; text-align: start">Naziv pripadka</th>
                                        <th style="vertical-align: middle; text-align: right; padding-right: 30px">Površina</th>
                                        <th style="vertical-align: middle; text-align: right; padding-right: 30px">Koeficijent</th>
                                        <th style="vertical-align: middle; width: 200px">
                                            <!--<md-button class="md-primary md-raised pull-right" ng-click="openModalPosebniDioChildPripadak(poChild.Id, 0)">&nbsp;+&nbsp;</md-button>-->
                                            <md-button ng-hide="prip.Zatvoren == true || poChild.Zatvoren == true" class="md-icon-button" ng-click="openModalPosebniDioChildPripadak(poChild.Id, 0)" title="Dodaj pripadak">
                                                <md-icon md-svg-icon="/Content/icons/plus.svg" style="fill: green"></md-icon>
                                            </md-button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="prip in poChild.Zgrade_PosebniDijeloviChild_Pripadci" style="color: {{prip.Zatvoren == true ? 'gray' : 'initial'}}">
                                        <td style="vertical-align: middle; text-align: start">{{prip.Naziv}}</td>
                                        <td style="vertical-align: middle; text-align: right; padding-right: 30px">{{prip.Povrsina}}</td>
                                        <td style="vertical-align: middle; text-align: right; padding-right: 30px">{{prip.Koef}}</td>
                                        <td style="vertical-align: middle; text-align: end">
                                            <!--<md-button class="md-primary md-raised pull-right" ng-click="openModalPosebniDioChildPripadak(poChild.Id, prip.Id)">&nbsp;...&nbsp;</md-button>
                        <md-button class="md-primary md-raised pull-right" ng-click="killPripadak(poChild.Id, prip.Id)">&nbsp;Ugasi&nbsp;</md-button>-->

                                            <md-button ng-hide="prip.Zatvoren == true || poChild.Zatvoren == true" class="md-icon-button" ng-click="openModalPosebniDioChildPripadak(poChild.Id, prip.Id)" title="Uredi pripadak">
                                                <md-icon md-svg-icon="/Content/icons/table-edit.svg" style="fill: blue"></md-icon>
                                            </md-button>
                                            <md-button ng-hide="prip.Zatvoren == true || poChild.Zatvoren == true" class="md-icon-button" ng-click="killPripadak(poChild.Id, prip.Id, $event)" title="Zatvori pripadak">
                                                <md-icon md-svg-icon="/Content/icons/delete.svg" style="fill: red"></md-icon>
                                            </md-button>
                                            <div ng-show="prip.Zatvoren == true">Zatvoreno: {{prip.ZatvorenMjesec}}/{{prip.ZatvorenGodina}}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- end of Zgrade_PosebniDijeloviChild_Pripadci -->
                            </div>
</md-card-title-text>
                    <md-card-title-media style="width: 172px">
                        <div class="md-media-lg card-media">
                            <md-button ng-show="poChild.Zatvoren != true" class="md-icon-button" ng-click="openModalPosebniDioChild(poChild.Id)" title="Uredi &nbsp;{{poChild.Naziv}}">
                                <md-icon md-svg-icon="/Content/icons/table-edit.svg" style="fill: blue; width: 32px; height: 32px"></md-icon>
                            </md-button>
                            <md-button ng-show="poChild.Zatvoren != true" class="md-icon-button" ng-click="killpoChild(poChild, $event)" title="Zatvori &nbsp;{{poChild.Naziv}}">
                                <md-icon md-svg-icon="/Content/icons/delete.svg" style="fill: red"></md-icon>
                            </md-button>
                            <!--<md-button class="md-icon-button" title="Expand" ng-click="poChild.Expanded == false ? poChild.Expanded = true : poChild.Expanded = false">
                                <md-icon md-svg-icon="/Content/icons/arrow-expand-all.svg" ng-style="poChild.Expanded == false ? {'fill': 'magenta'} : {'fill': 'seagreen'}" style="width: 32px; height: 32px"></md-icon>
                            </md-button>-->
                            <div ng-show="poChild.Zatvoren == true">Zatvoreno: {{poChild.ZatvorenMjesec}}/{{poChild.ZatvorenGodina}}</div>
                        </div>
                    </md-card-title-media>
                </md-card-title>
            </md-card>
            <br />
        </div>



        <hr />
        <div ng-show="pdMaster.Zgrade_PosebniDijeloviChild.length">
            <md-button class="md-raised md-primary pull-right" type="button" ng-disabled="frm.$invalid" ng-click="save()">Spremi</md-button>
            <md-button class="md-raised pull-right" ng-click="goBack()">
                Odustani
            </md-button>
        </div>
    </div>
</div>


