
<div class="container-grid">
    <div class="col-lg-12 whiteShadow">
        <div class="bs-callout bs-callout-ok">
            <h4>{{msg}}</h4>
            <h3>{{msgZgrada}}</h3>
        </div>

        <form role="form" class='form-horizontal' name="frm" ng-submit="save()">
            <!--<div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <label for="naziv">Odaberite zgradu</label>
                </div>
                <div class="col-sm-6">
                    <select ng-model="item.PripadakIZgradaId" ng-options="c.Id as c.Naziv for c in pripadci"
                            ng-change="pripadakIdChanged()" name="pripadakId" class="form-control" ng-required></select>
                </div>
                <div class="col-sm-2">
                </div>
            </div>-->
            <div class="form-group" row>
                <!--<div class="col-sm-1"></div>-->
                <div class="col-sm-12">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                            <tr>
                                <th style="text-align: start; vertical-align: middle">Godina</th>
                                <th style="text-align: center; vertical-align: middle">1</th>
                                <th style="text-align: center; vertical-align: middle">2</th>
                                <th style="text-align: center; vertical-align: middle">3</th>
                                <th style="text-align: center; vertical-align: middle">4</th>
                                <th style="text-align: center; vertical-align: middle">5</th>
                                <th style="text-align: center; vertical-align: middle">6</th>
                                <th style="text-align: center; vertical-align: middle">7</th>
                                <th style="text-align: center; vertical-align: middle">8</th>
                                <th style="text-align: center; vertical-align: middle">9</th>
                                <th style="text-align: center; vertical-align: middle">10</th>
                                <th style="text-align: center; vertical-align: middle">11</th>
                                <th style="text-align: center; vertical-align: middle">12</th>
                                <th style="text-align: center; vertical-align: middle">
                                    <button type="button" class="btn btn-default btn-sm" title="Uredi dio" ng-click="openModal(novaGodina)">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="z in obj.Zgrade_ZaduzivanjePoMj">
                                <td style="text-align: start; vertical-align: middle">{{z.Godina}}</td>
                                <td style="text-align: end; vertical-align: middle">{{z.Mj1}}</td>
                                <td style="text-align: end; vertical-align: middle">{{z.Mj2}}</td>
                                <td style="text-align: end; vertical-align: middle">{{z.Mj3}}</td>
                                <td style="text-align: end; vertical-align: middle">{{z.Mj4}}</td>
                                <td style="text-align: end; vertical-align: middle">{{z.Mj5}}</td>
                                <td style="text-align: end; vertical-align: middle">{{z.Mj6}}</td>
                                <td style="text-align: end; vertical-align: middle">{{z.Mj7}}</td>
                                <td style="text-align: end; vertical-align: middle">{{z.Mj8}}</td>
                                <td style="text-align: end; vertical-align: middle">{{z.Mj9}}</td>
                                <td style="text-align: end; vertical-align: middle">{{z.Mj10}}</td>
                                <td style="text-align: end; vertical-align: middle">{{z.Mj11}}</td>
                                <td style="text-align: end; vertical-align: middle">{{z.Mj12}}</td>
                                <td style="vertical-align: middle; text-align: middle">
                                    <button type="button" class="btn btn-default btn-sm" title="Uredi dio" ng-click="openModal(z)">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div class="col-sm-1">-->
                <!--</div>-->
            </div>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Spremi" ng-disabled="frm.$invalid" />
            <a href="#!/zgrade" style="margin-right: 10px" class="btn btn-default pull-right">Odustani</a>
        </form>


    </div>
</div>
